<ion-header-bar class="bar-positive">
    <h1 class="title">Home</h1>
</ion-header-bar>

<ion-content>

    <ion-list>
        <div ng-repeat="group in vm.groups">
            <ion-item class="item-stable" ng-click="vm.toggleGroup(group)" ng-class="{active: vm.isGroupShown(group)}">
                <i class="icon" ng-class="vm.isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Group {{group.name}}
            </ion-item>
            <ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="vm.isGroupShown(group)">
                <ion-radio ng-model="group">{{item}}</ion-radio>
            </ion-item>
        </div>
    </ion-list>

</ion-content>
